.container {
  /* width: 100%;
  height: 100%; */
  width: 100%;
  max-width: 1440px;

  display: flex;
  flex-grow: 1;

  background-color: var(--white);

  flex-direction: row;
  gap: 64px;

  padding: 48px 64px;
}
