.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--white);

  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}