.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 44px;

  min-height: 600px;
  max-height: 637px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--light-gray) transparent;
}

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 20px;
  border: 1px solid transparent;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-gray);
}

.review-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.review-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--lighter-gray);

  display: flex;
  justify-content: center;
  align-items: center;
}

.review-avatar span {
  color: var(--red);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.3;
}

.review-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.review-info h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.review-comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--dark-blue);
}
