.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: center;
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 56px;
  
}

.not-found-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: var(--dark-blue);
  margin-bottom: 20px;
}

.scroll-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
  pointer-events: none;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}