.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 56px
}

.not-found-wrap {
  text-align: center;
}

.not-found {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: var(--dark-blue);
  margin-bottom: 20px;
}
