.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* gap */
}

.list {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.show-more-btn {
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.1px;
  margin-top: 56px;

  background-color: transparent;
  border: 1px solid var(--light-gray);
  color: var(--main-black);
  border-radius: 25px;

  transition: border-color 0.15s ease-in-out;
}

.show-more-btn:hover {
  border-color: var(--red-hover);
}

.not-found-wrap {
  text-align: center;
}

.not-found {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: var(--dark-blue);
  margin-bottom: 20px;
}

