.nav-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px;
  background-color: var(--dirt-white);
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.nav-link {
  color: var(--main-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  transition: color 0.15s ease-in-out;
}

.nav-link:hover {
  color: var(--red-hover);
}

.active {
  color: var(--red);
}
