.container {
  width: 100%;
  /* height: 368px; */

  border: 1px solid var(--light-gray);

  border-radius: 16px;

  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px;
}

.img-container {
  flex-shrink: 0;
  width: 292px;
  min-height: 320px;
  overflow: hidden;

  border-radius: 10px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.header h2 {
  margin-right: auto;
}

.header p {
  margin-right: 12px;
}

.rating-location {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;

  margin-bottom: 24px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.rating p {
  border-bottom: 1px solid var(--main-black);
}

.rating svg {
  fill: var(--yellow);
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.description {
  margin-bottom: 24px;
}

.description p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;

  color: var(--dark-blue);
}

.favorites-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

.favorites-icon {
  transition: fill 0.15s ease-in-out;
}

.favorites-icon:hover {
  fill: var(--red-hover);
}
