.container {
  width: 50%;
  padding: 44px 52px;
  background-color: var(--dirt-white);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

.wrap h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;

  padding-bottom: 24px;
  border-bottom: 1px solid var(--light-gray);
}

.details-wrap {
  margin-top: 24px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detail p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
}
