.container {
  display: flex;
  flex-direction: column;
  padding: 0 64px;
  margin-top: 48px;
  margin-bottom: 80px;

  width: 100%;
  max-width: 1440px;
}

.main-info-container {
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 28px;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
}

.reviews-location-container {
  margin-top: 8px;
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  gap: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0;
}

.rl-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.reviews-text {
  border-bottom: 1px solid var(--main-black);
}

.gallery-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  width: 100%;
}

.gallery-item {
  height: 312px;
  border-radius: 10px;
  border: 1px solid var(--lighter-gray);
  overflow: hidden;
  display: flex;
  width: 100%;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--dark-blue);
}

.links-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 44px;
}

.link {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  padding-bottom: 20px;
  color: var(--main-black);
  border-bottom: 5px solid transparent;

  transition: border-color .15s ease-in-out;
}

.link:hover {
  border-color: var(--red-hover)
}

.active {
  border-bottom: 5px solid var(--red);
}

.info-form-container {
  display: flex;
  flex-direction: row;
  gap: 40px;

  align-items: stretch;
}

