:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-black);
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-black: #101828;
  --dark-blue: #475467;
  --dark-gray: #6c717b;
  --red: #e44848;
  --red-hover: #d84343;
  --yellow: #ffc531;
  --light-gray: #dadde1;
  --lighter-gray: #f2f4f7;
  --dirt-white: #f7f7f7;
  --white: #ffffff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 5px 0;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
