.main-container {
  padding: 64px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-grow: 1;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../assets/home-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--dirt-white);
}

.header {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0;

  margin-bottom: 16px;
}

.subheader {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;

  margin-bottom: 40px;
}
