.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;
  gap: 40px;

  padding: 60px;
}

.container h2 {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 32px;
}